@import '../../theme.scss';


.button_wrapper {
    margin-bottom: 15px;
    margin-top   : 36px;
}

.login_link {
    text-decoration: none;
    color          : $dark;
    font-weight    : 400;
    border-bottom  : 1px solid $dark;
    margin-left    : 5px;
}

.forget_password_link {
    text-decoration: none;
    color          : $primaryColor;
    font-weight    : 400;
    margin-left    : 5px;
}