@import './theme.scss';

.active_heading {
    color: $primaryColor;
}





// avoid bootstrap styles...
.form-control:focus {
    background-color: transparent !important;
    border-color    : none !important;
    outline         : 0;
    box-shadow      : none !important;
}



// General styles...

// auth title and headings...
.auth_heading{
    font-size: 35px;
    font-weight: 600;
}

.auth_title{
    font-size: 17px;
    font-weight: 500;
}
// banner sliders
.bannerSlider {
    .swiper-pagination{
        .swiper-pagination-bullet{
        }
        .swiper-pagination-bullet-active{
            width: 10px;
            height: 10px;
            background-color: $primaryColor;
            border: 1px solid white;
        }
    }
}